*{
    margin: 0;
    padding: 0;
}
.register{
    width: 100%;
    background: url("../img/zhucelg1.jpg") no-repeat bottom;
    background-size: cover;
    position: relative;
}
.banner{
    position: absolute;
    top:100px;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: 500px;
    background: rgba(0,0,0,.9);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
.banner>h3{
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #000;
    color: #fff;

}
.input_text{

    width: 250px;
    overflow: hidden;
    margin: 40px auto;
}
.input_text>p{
    color: #f2f2f2;
}
.input_text>i{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #ccc;
    background: #fff;
    line-height: 40px;
}
.input_text>input{
    float: left;
    width: 200px;
    height: 40px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.banner>button{
    width: 140px;
    height: 40px;
    border: 0;
    outline: none;
    font-size: 15px;
    color: #222;
    background: aquamarine;
    cursor: pointer;
}